<%- include ("../partials/header") %>

<div class="ui container">
    <br>

    <h1 class="ui header"> Todo's
    </h1>
    <button class="ui button yellow create_list" type="button">Create new list</button>
    <br>

    <!-- List using nested segment -->
    <%  for (let i = 0; i < data.length; i++) {
                    const list = data[i];  
            %>
    <div class="ui segments compact">
        <div class="ui red segment">
            <h2>
                <%=list.name %>
                <!-- <h2 class="ui small header">
                    <%=list.name %>
                </h2> -->
                <button data-value=<%=list._id %> class="ui icon button yellow
                    tiny circular create_task" type="button"><i class="plus icon"></i></button>
                <button data-list=<%=list._id %> class="ui icon button red
                        tiny circular delete_list" type="button"><i class="minus icon"></i></button>
            </h2>
        </div>
        <div class=" ui segments">
            <%  for (let i = 0; i < list.tasks.length; i++) {
                                const task = list.tasks[i];
                            %>
            <div class="ui segment">

                <!-- <h2 class="ui tiny header"> -->
                <!-- </h2> -->
                <h4>
                    <%=task.description %>
                    <button data-list=<%=list._id %> data-task=<%=task._id %>
                        class="ui icon button red circular tiny delete_task" type="button"><i
                            class="minus icon"></i></button>
                </h4>
            </div>
            <% } %>
        </div>
    </div>

    <% } %>


    <!-- MODAL to create new list -->
    <div class="ui mini modal list">
        <div class="header">Create a new List</div>
        <div class="content">
            <form class="ui form" action="/list/create" method="post">
                <div class="fields">
                    <div class="field">
                        <div class="required field centered">
                            <input required name="name" type="text" placeholder="name" maxlength="100" minlength="1">
                        </div>
                    </div>
                </div>
        </div>
        <div class="actions">
            <input type="submit" class="ui basic green button" value="Create">
            </form>
            <!-- <div class="ui basic red button">close</div> -->
        </div>
    </div>
    <!-- create list modal -->

    <!-- MODAL to create new task -->
    <div class="ui mini modal task">
        <div class="header">Create a new task</div>
        <div class="content">
            <form class="ui form" action="/task/create" method="post">
                <div class="fields">
                    <div class="field">
                        <div class="required field">
                            <!-- <label>List Name</label> -->
                            <input hidden name="listId" type="text" placeholder="name" maxlength="50" minlength="1">
                        </div>
                    </div>
                    <div class="field">
                        <div class="required field">
                            <label>Task Description</label>
                            <input required name="description" type="text" placeholder="name" maxlength="200"
                                minlength="1">
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <input type="submit" class="ui basic green button" value="Create">
            </form>
            <!-- <div class="ui basic red button">close</div> -->
        </div>
    </div>
    <!-- create task modal -->



    <!-- MODAL to delete a list -->
    <div class="ui mini modal delete_list_modal">
        <div class="header">Delete a list</div>
        <div class="content">
            <h2>Are you sure you want to delete this list?</h2>
            <form class="ui form" action="/list/delete" method="post">
                <div class="fields">
                    <!-- <div class="field"> -->
                    <!-- <div class="required field">
                                <label>List Name</label>
                                <input required name="name" type="text" placeholder="name" maxlength="50" minlength="1">
                            </div> -->
                    <!-- </div> -->
                    <div class="field">
                        <div class="required field">
                            <!-- <label>Task Name</label> -->
                            <input hidden required name="listId" type="text" placeholder="name" maxlength="50"
                                minlength="1">
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <input type="submit" class="ui basic red button" value="Delete">
            </form>
            <!-- <div class="ui basic red button">close</div> -->
        </div>
    </div>
    <!-- delete list modal -->


    <!-- MODAL to delete a task -->
    <div class="ui mini modal delete_task_modal">
        <div class="header">Delete a task</div>
        <div class="content">
            <h2>Are you sure you want to delete this task?</h2>
            <form class="ui form" action="/task/delete" method="post">
                <div class="fields">
                    <!-- <div class="field"> -->
                    <!-- <div class="required field">
                            <label>List Name</label>
                            <input required name="name" type="text" placeholder="name" maxlength="50" minlength="1">
                        </div> -->
                    <!-- </div> -->
                    <div class="field">
                        <div class="required field">
                            <!-- <label>Task Name</label> -->
                            <input hidden required name="taskId" type="text" placeholder="name" maxlength="50"
                                minlength="1">
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <input type="submit" class="ui basic red button" value="Delete">
            </form>
            <!-- <div class="ui basic red button">close</div> -->
        </div>
    </div>
    <!-- delete task modal -->

    <script>
        // Create list modal
        $(function () {
            $(".create_list").click(function () {
                $(".list").modal('show');
            });
            $(".list").modal({
                closable: true
            });
        });

        // create task modal
        $(function () {
            $(".create_task").click(function () {
                var value = $(this).data('value');
                console.log('value is ', value);

                $(".task").modal('show');
                $('input[name=listId]').val(value);
            });
            $(".task").modal({
                closable: true
            });
        });

        // delete list modal
        $(function () {
            $(".delete_list").click(function () {
                $(".delete_list_modal").modal('show');
                var listId = $(this).data('list');
                console.log('listId is ', listId);
                $('input[name=listId]').val(listId);
            });
            $(".task").modal({
                closable: true
            });
        });

        // delete task modal
        $(function () {
            $(".delete_task").click(function () {
                $(".delete_task_modal").modal('show');
                var taskId = $(this).data('task');
                console.log('taskId is ', taskId);
                $('input[name=taskId]').val(taskId);
            });
            $(".task").modal({
                closable: true
            });
        });
    </script>
    <%- include ("../partials/footer") %>